In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
final_counts = pd.read_csv('../data/final_category_counts.csv')

In [9]:
final_counts.sort_values('category')

   Unnamed: 0 category  outcome1_counts  outcome2_counts  outcome3_counts
4           4        a               87               59               21
2           2        b              502             1500             1239
3           3        c              151              555              248
1           1        d              915             1255             1012
0           0        e             2025              311             1160